<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 浏览器收到 HTML 响应时，从上到下解析，遇到外链时，自动发起请求 -->
  <!-- 
    注意：在服务端中，文件中的路径就不要写相对路径了
    因为这时候所有的资源都是通过 url 标识获取的
    服务器已经开放了 /public/ 目录
    所以这里的请求路径写成：/public/xxx
  -->
  <link rel="stylesheet" href="public/lib/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <!-- <img src="/public/img/rb.jpg" alt=""> -->
  <div class="header container">
    <div class="page-header">
      <h1>Example page header <small>Subtext for header</small></h1>
      <a class="btn btn-success" href="/post">发表留言</a>
    </div>
  </div>
  <div class="comments container">
    <ul class="list-group">
      {{each comments}}
      <li class="list-group-item">
        {{ $value.name }} 说：
        {{ $value.message }}
        <span class="pull-right">{{ $value.dateTime }}</span>
      </li>
      {{/each}}
    </ul>
  </div>
</body>

</html>